#calculBorder {
    border: 2px solid black;
    border-radius: 100px;
}

.coefMargin,
.resultMargin,
#calculButton {
    margin-bottom: 10px;
}

#myLabel {
    color: #3e3eef;
}

#advLabel {
    color: #f10d0d;
}

#pointAdv,
#myPoint,
#calculButton,
#resultFinal {
    border-radius: 50px;
}

#resultFinal {
    width: 90px;
}