body {
    background-image: url(ping.jpg);
    background-size: contain;
    background-repeat: repeat;
    color: black;
}

header .btn-danger {
    margin: 10px 0px 0px 10px;
}

.btn-danger {
    background-color: #f10d0d;
}

.btn-primary {
    background-color: #3e3eef;
}

.btn-primary:hover {
    background-color: #3e3eef;
}

.btn-primary:active {
    background-color: #3e3eef !important;
}

.btn-primary:focus {
    background-color: #3e3eef !important;
}

.btn-danger:hover {
    background-color: #f10d0d;
}

.btn-danger:active {
    background-color: #f10d0d !important;
}

.btn-danger:focus {
    background-color: #f10d0d !important;
}